// Font: Selna
@font-face {
    font-family: 'Selna';
    src: url('../assets/fonts/selna-regular.otf') format('truetype');
}

// Colors
$colors : (
    cream: #F1EAE4,
    extra-dark-brown: #1D1B19,
);