html {
    font-family: 'Inter', Helvetica, sans-serif;
    color: map-get($colors , "extra-dark-brown" );
}
h1, h2, h3 {
    font-family: Selna, Helvetica, sans-serif;
    text-transform: uppercase;
}
h2 {
    font-size: 3rem;
    font-weight: 400;
}
body {
    background-color: map-get($colors , "cream" );
}
main {
    width: 100%;
    padding: 0 3.8rem;
    box-sizing: border-box;
}