@mixin flex($direction, $wrap, $justify, $align){
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid($cols, $gap){
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    grid-gap: $gap;
}

@mixin transition(){
    transition: all 0.3s ease-in-out;
}

.link {
    text-transform: uppercase;
    text-decoration: none;
    padding: .1rem .1rem;
    border-bottom: .1rem solid map-get($colors , "extra-dark-brown" );
    color: map-get($colors , "extra-dark-brown" );
}
.block {
    display: block
}